p{
    color: red;
}
h1 {
    background-color: blue;
}
#isaac {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.badbuny {
    color: aqua;
}
